* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #333;
    --text-light: 'Arial', sans-serif;
    --text-dark: #333;
    --background-light: #eee;
    --border-color: black;
    --shadow-color: gray;
    --standard-padding: 1rem;
    --small-padding: 0.5rem;
    --img-width: 150px;
    --aside-img-width: 200px;
    --max-content-width: 840px;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-light);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: var(--small-padding) 0;
    color: var(--text-dark);
    font-size: 1rem;
    line-height: 1.5;
}

main {
    max-width: var(--max-content-width);
}

aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: var(--aside-img-width);
    height: auto;
}

main img {
    width: var(--img-width);
    height: auto;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--#5a17172c);
    padding: 1rem;
    background-color: var(--background-light);
    color: var(--text-dark);
}